.habilidadesInteiro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:darkgray ;
    width: 100%;
    height: 300px;
    margin:0;
    padding:20px;
    overflow: hidden;
}