.homeInteiro{
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #eae5e5;
    height:1050px;
    justify-content: center;
    display: flex;
    flex-direction: row;
}
.homeInteiro h1{
    color: #4c3c4a;
}