.homeInteiro{
    margin: 0;
    padding: 0;
    width: 100%;
    height:2000px;
    justify-content: center;
    display: flex;
    flex-direction: row;
    overflow-y:scroll;
    overflow-x: hidden;
}

  
.homeInteiro h1{
    color: #4c3c4a;
}


@media (max-width: 1370px){
    
}

@media (max-width: 991px){
    
}
    
@media (max-width: 870px){
        
}
   
@media (max-width: 786px){
    
}

@media (max-width: 767px){
    
}

@media (max-width: 719px){
    
}
@media (max-width: 657px){
    
}
@media (max-width: 540px){
    
}

@media (max-width: 490px){
   
    
}

@media (max-width: 457px){
    
    
    
}

@media (max-width: 410px){
   
}
@media (max-width: 380px){
    
}
@media (max-width: 365px){
    
}
@media (max-width: 296px){

    
}