.footerDireitos{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #382e35;
    width: 100%;
    height: 50px;
}
.footerDireitos h3{
    color:#d1c4cf;
    font-size: 15px;

}
.footerContato{
    display: flex;
    justify-content: center;
    background-color: #d1c4cf;
    width: 100%;
    height: 280px;
}
.imgFooter img{
    width: 32px;
    height: 32px;
    margin-bottom: 2px;

    -webkit-animation: pulaPula 1s forwards;
    animation: pulaPula 1s forwards;
    animation-iteration-count: infinite;
    animation-play-state: paused;
}

@keyframes pulaPula{
    0%{
        margin-bottom:2px;
    }
    50%{
        margin-bottom: 12px;
    }
    100%{
        margin-bottom: 2px;
    }
}

.imgFooter img:hover{
    animation-play-state: running!important;
}

.imgFooter{
    display: flex;
    align-items: flex-end;
    width: 50px;
}
.footerOuvir{
    display: flex;
    flex-direction: column;
    width: 30%;
}
.footerOuvir h3{
    color: #382e35;
    font-family: 'Caveat', cursive;
    font-size: 50px;
    width: 250px;
}
.footerMidias a{
   margin:0 10px;
}
.footerEmail{
    width:30%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}
.email{
    margin: 100px 0 ;
}
.email button{
    margin: 50px -20px 0 0;
    background-color: #382e35;
}
.email button p{
    color: #fff;
}
.footerEmail a {
    color:  #382e35;
    display: flex;
}

@media (max-width: 1370px){
    
}

@media (max-width: 991px){
    
}
    
@media (max-width: 870px){
    .footerEmail{
        justify-content: flex-end;
        align-items: flex-end;
    }
    .email{
       margin-right: -100px;
    }
    .imgFooter img{
        padding-left: 150px;
    }
    
}
   
@media (max-width: 786px){
    
}

@media (max-width: 767px){
    .footerContato{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footerEmail{
        margin-left: 50px;
        width: 90%;
        margin:0;
        padding: 0;
        justify-content: center;
    }
    .footerOuvir{
        width: 90%;
        justify-content: center;
        align-items: center;
        margin:0;
        padding: 0;
    }
    .footerOuvir h3{
        width: 100%;
        margin:0;
        padding: 0;
        text-align: center;
    }
    .email{
        margin: 0;
    }
    .email a{
        margin-left: 50px;
    }
    .email button{
        margin-left: 70px;
    }
    .imgFooter img{
        padding-left: 200px;
        margin-bottom: -30px;
    }
   
}

@media (max-width: 719px){
    
}
@media (max-width: 669px){
    
}
@media (max-width: 657px){
    
}
@media (max-width: 540px){
    
}

@media (max-width: 490px){
   
    
}

@media (max-width: 457px){
    
    
    
}

@media (max-width: 410px){
   
}
@media (max-width: 380px){
    
}
@media (max-width: 365px){
    
}
@media (max-width: 296px){

    
}