.headerInteiro{
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #4c3c4a;
    height:700px;
    justify-content: center;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}
.headerEsquerda{
    margin: 0;
    padding: 0;
    width: 75%;
    background-color:#4c3c4a;
    height: 100%;
    margin-bottom: -20px;
}
.header{
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
}
.header a{
    color: #fff;
    font-size: 15px;
    font-weight: 1;
    cursor: pointer;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    text-decoration:none;
    margin-top: 10px;
    margin-left: 30px;
    margin-bottom: -40px;
    transition: 1s;
}
.header a:hover{
    font-size: 20px;
    transition: 1s;
}
.headerDireita{
    margin: 0;
    padding: 5px;
    width: 25%;
    background-color: #4c3c4a;
    height: 100%;
}
.headerEsquerda h3{
    color: #4c3c4a;
}
.imgEsquerda{
    background-image: url('../../img/notebook.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 649px;
    margin-top:51px; 
}
.imgDireita{
    display: flex;
    justify-content: center;
}
.imgDireita img{
    object-fit: cover;
    border-radius: 100px;
    width: 200px;
    height: 200px;
}
.headerTextoDireita{
    display: flex;
    justify-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.headerTextoDireita h3{
    color: #fff;
    font-family: 'Caveat', cursive;
    font-size: 30px;
    margin-bottom: -10px;
    
}
.headerTextoDireita p{
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    width: 200px;
    text-align: center;
    margin-bottom: -10px;
}
.headerTxtEsquerda{
    margin-top: -300px;
}
.headerTxtEsquerda h1{
    color: #fff;
    margin-left: 50px;
    font-family: 'Caveat', cursive;
    font-size: 80px;
}
.headerEsquerda p{
    color: #fff;
    margin-left: 60px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    margin-bottom: -50px;
    font-weight: 0;
}
.headerEsquerda h3{
    color: #fff;
    margin-left: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: 600;
    margin-top: -50px;

}
.baixarCv{
    width: 150px;
    height: 50px;
    border-radius: 5px;
    border: 0;
    background-color: #fff;
    margin-top: 250px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.baixarCv p{
    font-family: 'Times New Roman', Times, serif;
    color:#4c3c4a;
    font-size: 20px;
    font-weight: 600;
    text-align: center;   
}

.headerContato{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contato{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    margin-bottom: -220px;
}
.midias{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 10px;
}

.midias img{
    width: 24px;
    height: 24px;
    margin: 5px;
}
.header480px{
    display: none;
    height: 70px;
    width: 100%;
}
.hamburguer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 50px;
    margin: 10px;
    cursor: pointer;
    background-color: transparent;
    border:0;
    
}
#linha1, #linha2, #linha3{
    width: 100%;
    height: 5px;
    background-color: #fff;
    border-radius: 5px;
}
#linha1{
    margin-top: 10px;
   
}
#linha2{
    margin:5px 0;
  
}
#linha3{
    margin-bottom: 10px;
    
}
.headerHamburger{
    display:none;
}
/* .hamburguer:active .linha1, .hamburguer:focus .linha1{
    animation: rotate45 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.hamburguer:active .linha2, .hamburguer:focus .linha2{
    animation: sumir 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.hamburguer:active .linha3, .hamburguer:focus .linha3{
    animation: rotate135 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;  
} */

.hamburguerRoda1{
    animation: rotate45 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.hamburguerRoda2{
    animation: sumir 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.harburguerRoda3{
    animation: rotate135 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;  
}
.hamburguerVolta1{
    animation: rotate45Voltar 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.hamburguerVolta2{
    animation: sumirVoltar 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.hamburguerVolta3{
    animation: rotate135Voltar 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;  
}

@keyframes rotate45{
    0%{
        margin-bottom:0;
        transform: rotate(0deg);  
    }
    100%{
        margin-bottom:0;
        transform: rotate(45deg);  
}
}
@keyframes rotate45Voltar{
    0%{
        margin-bottom:0;
        transform: rotate(45deg);  
         
    }
    100%{
        margin-bottom:0;
        transform: rotate(0deg); 
}
}
@keyframes rotate135{
    0%{
        margin-top:0;
        transform: rotate(0deg);
    }
    100%{
        margin-top:-5px;
        transform: rotate(135deg);
}
}
@keyframes rotate135Voltar{
    0%{
        margin-top:-5px;
        transform: rotate(135deg);
        
    }
    100%{
        margin-top:0;
        transform: rotate(0deg);
}
}
@keyframes sumir{
    0%{
        background-color: #fff;
    }
    100%{
        margin-top:-10px;
        background-color: transparent;
    }
}
@keyframes sumirVoltar{
    0%{
        margin-top:-10px;
        background-color: transparent;
        
    }
    100%{
        background-color: #fff;
    }
}

@media (max-width: 1370px){
    
}

@media (max-width: 991px){
    
}
    
@media (max-width: 870px){
        .headerTextoDireita h3{
            font-size: 25px;
        }
        .headerTextoDireita p{
            font-size: 18px;
        }
        .headerTxtEsquerda h1{
            font-size: 70px;
        }
        .headerTxtEsquerda h3{
            font-size: 25px;
        }
}
   
@media (max-width: 790px){
    .header a{
        
        font-size: 12px;
        
    }
    .header a:hover{
        font-size: 15px;
      
    }
}

@media (max-width: 767px){
    .header a {
        font-size: 10px;
        margin-left: 10px;
    }
    .header a:hover{
        font-size: 13px;
      
    }
    
    .headerInteiro{
        height: 600px;
    }
    .imgDireita img{
        
        width: 150px;
        height: 150px;
    }
    .headerTextoDireita h3{
        font-size: 20px;
    }
    .headerTextoDireita p{
        font-size: 15px;
    }
    .headerTxtEsquerda h1{
        font-size: 60px;
    }
    .headerTxtEsquerda h3{
        font-size: 20px;
    }
}

@media (max-width: 705px){
    .headerInteiro{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 1160px;
        overflow: hidden;
    }
    .headerEsquerda{
        width: 100%;
        margin-top: -160px;
    }
    .header{
        margin-top: 160px;
    }
    .header a{
        font-size: 14px;
    }
    .header a:hover{
        font-size: 18px;
    }
    .imgEsquerda{
        margin-top: 40px;
        
    }
    .headerTxtEsquerda{
        margin-top: -160px;
    }
    .headerDireita{
        margin-top: 20px;
        width: 100%;
    }
    .contato{
        margin-top: 20px;
    }
    .headerContato{
        margin-bottom: 20px;
    }
    
}
@media (max-width: 669px){
    .headerInteiro{
        height: 1160px;
        
    }
    .headerContato{
        margin-bottom: 20px;
    }
    
}
@media (max-width: 657px){
    .headerTxtEsquerda h1, .headerTxtEsquerda h3{
        margin-left: 10px;
    }
    .headerTxtEsquerda p{
        margin-left: 30px;
    }
}
@media (max-width: 540px){
    .header a {
        font-size: 12px;
    }
    .header a:hover{
        font-size: 14px;
      
    }
    .headerTxtEsquerda h1{
        font-size: 50px;
    }
    .headerTxtEsquerda h3 {
        font-size: 18px;
        margin-top: -40px
    }
    .headerTxtEsquerda p{
        font-size: 20px;
        margin-bottom: -40px;
    }
    
}

@media (max-width: 490px){
    .header a {
        font-size: 10px;
    }
    .header a:hover{
        font-size: 12px;
      
    }
    .headerTxtEsquerda h1{
        font-size: 40px;
    }
    .headerTxtEsquerda h3 {
        font-size: 15px;
        margin-top: -30px
    }
    .headerTxtEsquerda p{
        font-size: 18px;
        margin-bottom: -30px;
    }
    .headerInteiro{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 930px;
        overflow: hidden;
    }
    .baixarCv{
        margin-left: 0!important;
    }
    
    .headerEsquerda{
        margin-top: 0;
    }
    button:hover, button,:active, button:focus{
        border:0;
        border-style: none;
        outline: none;
    }
    .header480px{
        display:flex;
        margin-top:-8px;
        justify-content: flex-end;
        height: 20px;
        
    }
    .imgEsquerda{
       height:400px;
    }
    .headerHamburger{
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        margin-top: 40px;
        position: absolute;
        z-index: 10;
        background-color:#4c3c4a;
        display: flex;
        height: 0;
        transition: 1s;
    }
    .hamburguerAberto{
        height: 100px;
        transition: 1s;
    }
    .headerHamburger a{
        height: 0;
        transition: 1s;
        color:transparent;
        font-size: 15px;
        font-weight: 1;
        cursor: pointer;
        font-style: italic;
        font-family: 'Times New Roman', Times, serif;
        text-decoration:none;
    }
    .hamburguerAberto a{
        display:flex;
        color: #fff;
        font-size: 15px;
        font-weight: 1;
        cursor: pointer;
        font-style: italic;
        font-family: 'Times New Roman', Times, serif;
        text-decoration:none;
        height: 25px;
        transition: 1s;
    }
    .headerHamburger a:hover{
        font-size: 20px;
        transition: 1s;
    }
    .header{
        display:none;
    }
    
}

@media (max-width: 457px){
    
    
    
}

@media (max-width: 410px){
   
}
@media (max-width: 380px){
    .header a {
        font-size: 8px;
    }
    .header a:hover{
        font-size: 10px;
      
    }
}
@media (max-width: 365px){
    .headerTxtEsquerda h1{
        font-size: 35px;
    }
    .headerTxtEsquerda h3 {
        font-size: 15px;
        margin-top: -30px
    }
    .headerTxtEsquerda p{
        font-size: 18px;
        margin-bottom: -30px;
    }
}
@media (max-width: 296px){

    
}