.headerInteiro{
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #4c3c4a;
    height:700px;
    justify-content: center;
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
}
.headerEsquerda{
    margin: 0;
    padding: 0;
    width: 75%;
    background-color:#4c3c4a;
}
.header{
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
}
.header a{
    color: #fff;
    font-size: 15px;
    font-weight: 1;
    cursor: pointer;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    text-decoration:none;
    margin-top: 10px;
    margin-left: 30px;
    margin-bottom: -40px;
    transition: 1s;
}
.header a:hover{
    font-size: 20px;
    transition: 1s;
}
.headerDireita{
    margin: 0;
    padding: 5px;
    width: 25%;
    background-color: #4c3c4a;
}
.headerEsquerda h3{
    color: #4c3c4a;
}
.imgEsquerda{
    background-image: url('../../img/notebook.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 649px;
    margin-top:51px; 
}
.imgDireita{
    display: flex;
    justify-content: center;
}
.imgDireita img{
    object-fit: cover;
    border-radius: 100px;
    width: 200px;
    height: 200px;
}
.headerTextoDireita{
    display: flex;
    justify-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.headerTextoDireita h3{
    color: #fff;
    font-family: 'Caveat', cursive;
    font-size: 30px;
    margin-bottom: -10px;
    
}
.headerTextoDireita p{
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    width: 200px;
    text-align: center;
    margin-bottom: -10px;
}
.headerTxtEsquerda{
    margin-top: -300px;
}
.headerTxtEsquerda h1{
    color: #fff;
    margin-left: 50px;
    font-family: 'Caveat', cursive;
    font-size: 80px;
}
.headerEsquerda p{
    color: #fff;
    margin-left: 60px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    margin-bottom: -50px;
    font-weight: 0;
}
.headerEsquerda h3{
    color: #fff;
    margin-left: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: 600;
    margin-top: -50px;

}
.baixarCv{
    width: 150px;
    height: 50px;
    border-radius: 5px;
    border: 0;
    background-color: #fff;
    margin-top: 250px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.baixarCv p{
    font-family: 'Times New Roman', Times, serif;
    color:#4c3c4a;
    font-size: 20px;
    font-weight: 600;
    text-align: center;   
}

.headerContato{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contato{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    margin-bottom: -220px;
}
.midias{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 10px;
}

.midias img{
    width: 24px;
    height: 24px;
    margin: 5px;
}

@media (max-width: 1370px){
    
}

@media (max-width: 991px){
    
}
    
@media (max-width: 870px){
        .headerTextoDireita h3{
            font-size: 25px;
        }
        .headerTextoDireita p{
            font-size: 18px;
        }
        .headerTxtEsquerda h1{
            font-size: 70px;
        }
        .headerTxtEsquerda h3{
            font-size: 25px;
        }
}
   
@media (max-width: 790px){
    .header a{
        
        font-size: 12px;
        
    }
    .header a:hover{
        font-size: 15px;
      
    }
}

@media (max-width: 767px){
    .header a {
        font-size: 8px;
    }
    .header a:hover{
        font-size: 12px;
      
    }
    .headerInteiro{
       height: 600px;
    }
    .imgDireita img{
        
        width: 150px;
        height: 150px;
    }
    .headerTextoDireita h3{
        font-size: 20px;
    }
    .headerTextoDireita p{
        font-size: 15px;
    }
    .headerTxtEsquerda h1{
        font-size: 60px;
    }
    .headerTxtEsquerda h3{
        font-size: 20px;
    }
}

@media (max-width: 719px){
    
}
@media (max-width: 669px){
    .header a {
        font-size: 10px;
    }
    .contato a{
        font-size: 15px;
    }
}
@media (max-width: 657px){
    
}
@media (max-width: 540px){
    
}

@media (max-width: 490px){
   
    
}

@media (max-width: 457px){
    
    
    
}

@media (max-width: 410px){
   
}
@media (max-width: 380px){
    
}
@media (max-width: 365px){
    
}
@media (max-width: 296px){

    
}